body {
  margin: 0%;
}

.date {
  color: #008080;
  font-family: "Roboto" serif;
}

.post-container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border: solid #fffafa;
  box-sizing: border-box;
}
.post-contant {
  font-family: "Open Sans" serif;
}
.post {
  background-color: #fffafa;
  padding: 20px;
}
hr {
  margin: 0px;
}
h1 {
  font-family: "Montserrat" serif;
}
