.card {
  transition: none; 
}

.card:hover {
  animation: hoverAnimation 0.3s forwards; 
}

@keyframes hoverAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.modal {
  /* ... */
  z-index: 9999; /* Colocar o modal por cima de todos os elementos */
}
.overlay {
  overflow: hidden; /* Impedir que o usuário role a página */
  pointer-events: none; /* Impedir que o usuário interaja com a página */
}